# ==============================================================================
# Toko-rs Configuration (Environment Variables)
# ==============================================================================

# ------------------------------------------------------------------------------
# 1. Database Configuration
# ------------------------------------------------------------------------------
# We use sqlx AnyPool, meaning you can swap the sqlite prefix for postgresql 
# depending on your environment. 
#
# Examples:
#   Local (SQLite) : sqlite://toko.db?mode=rwc
#   Prod (Postgres): postgres://postgres:password@localhost/toko
DATABASE_URL=sqlite://toko.db?mode=rwc

# ------------------------------------------------------------------------------
# 2. Server Configuration
# ------------------------------------------------------------------------------
# The ip address and port the Axum server will attach itself to.
HOST=0.0.0.0
PORT=3000

# ------------------------------------------------------------------------------
# 3. Observability & Logging
# ------------------------------------------------------------------------------
# Uses the tracing-subscriber format. Specifies the log levels for different 
# crates heavily used internally.
RUST_LOG=toko_rs=debug,tower_http=debug,sqlx=info
